body{
	background-color: #fff;
	margin: 0;

}
@font-face{
	font-family: fort;
	src: url("fort.ttf");
}

#top-menu{
	height: 50px;
	width: 100%;
	background-color: #222;
}
#box1{
	width: 100%;
	font-family: fort;
	
}
.slide{
	width: 100%;
	font-size: 0;
	position: relative;
	color: #fff;

}
#slide1{
	display: none;
	width: 100%;
}
#slide2{
	top: 50%;
	display: block;

}
#slide2-title{
	left: 35%;
	text-align: left;

}
#slide2-title b{
	font-size: 50px;
	color: #654c;
	font-family: fort;
}
#slide2-title p{
	font-size: 25px;
}
.slide-img{
	width: 100%;
}
.top-menu-btn{
	color: #aaa;
	font-size: 20px;
	height: 24px;
	overflow: hidden;
	padding: 13px;
	display: inline-block;
	transition-property: color, border-bottom-width, padding-bottom;
	transition-duration: 200ms;
	border-bottom: solid #fff700 0px;
}
#top-menu a{
	text-decoration: none;
}
.top-menu-btn:hover{
	color: #fff;
	border-bottom: solid #fff700 3px;
	padding-bottom: 3px;
	border-bottom-width: 10px;
}
.top-menu-btn a{
	color: #aaa;
}
.top-menu-btn img{
	height: 40px;
	border-bottom: solid #fff700 0px;
	margin: -6;

}
.top-menu-btn img:hover{
	border-bottom: solid #fff700 0px;
	padding-bottom: 0px;
	border-bottom-width: 0px;
}
.slide-title{
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}
#slide1-title{
	left: 50%;
	text-align: center;
}

.slide-title p{
	font-size: 50px;
	color: #000;
	left: 50%; 
	margin: 0;
}
.slide-title img{
	height: 150px;

}
.switch-btn{
	background-color: #fff700;
	padding: 10px;
	width: 200px;
	text-align: center;
	font-size: 30px;
	font-family: fort; 
	display: inline-block;
	color: #000;
	transition-duration: 600ms;
	transition-property: transform;
}
.switch-btn:hover{
	transform: skew(-5deg) translateX(3px);
}
.switch-btn:hover div{
	transform: skew(5deg) translateX(3px);
}
.switch-btn div{
	transition-duration: 600ms;
	transition-property: transform;
}
.top-menu-img{
	border: none;
	padding: 13px; 
}
#top-menu-btn1{
	border: none;
	padding: 13px; 
}
#top-menu-btn2{
	border: none;
	padding: 13px; 
}
#box2{
	
}
#feed{
	position: relative;
	width: 1054px;	
	overflow: hidden;
	left: 50%;
	transform: translate(-50%, -100px);

}
#feed a{
	text-decoration: none;
}
.feed-norm{
	position: relative;
	display: inline-block;
	overflow: hidden;
	color: #fff;
	vertical-align: top;
	margin: 5px;
	background-position: center center;
	background-size: cover;
	-webkit-clip-path: polygon(
	/*	100% 0%, 
		100% 100%,
		0% 100%,
		0% 20px,
		20px 0%*/
		0% 0%,
		calc(100% - 30px) 0%,
		100% 30px,
		100% 100%,
		0% 100%

	);


}

.feed-img{
	transition-duration: 200ms;
	transition-property: transform;
	height: 100%;
	min-width: 100%;
	left: 50%;
	position: absolute;


	transform: translateX(-50%);
}
#feed1{
	width: calc(40% - 10px - 3px);
}
#feed2{
	width: calc(60% - 10px - 3px);
}
/*#feed3{
	width: 23%;
}*/
.feed-wide{
	height: 350px; 
	width: 23%;
}
.feed-wide .description{
	position: absolute;
	bottom: 0;
	color: #fff;
	font-size: 20px;
	font-family: fort;
	text-shadow: 0 0 20px #000;
	transition-duration: 200ms;
	transition-property: text-shadow, transform
}
.feed-tall{
	height: 500px;
	width: calc(25% - 10px - 3px)
}
.feed-tall .description{
	position: relative;
	background-color: #222;
	left: 0;
	font-size: 20px;
	right: 0;
	bottom: 0;
	font-family: fort;
	padding: 10px;



}
.feed-norm:hover .feed-img{
	transform: translateX(-50%) scale(1.1);

} 
.feed-wide:hover .descrption{
	text-shadow: none;
	transform: translateY(-10px);
}
::-webkit-scrollbar{
	background: linear-gradient( #7900fa, #0000ff, #00ffd9, #40ff00, #ffee00, #ff5100, #fc0000);

}
::-webkit-scrollbar-thumb{
 	background:linear-gradient( #fc0000, #ff5100, #ffee00, #40ff00, #00ffd9, #0000ff, #7900fa);
	border-radius: 10px;
	border-top: solid #fff 2px;
	border-bottom: solid #fff 2px;

}
::-webkit-scrollbar-thumb:hover{
	background-color: #980;
}
.feed-wide:hover .gradient{
	width: 100%;
	height: 70px;
	background-image: linear-gradient(to top, 
		rgba(56, 242, 15, 0.5) 
		rgba(19, 77, 6, 0));
	opacity: 1;
	transition-property: height, opacity;
	transition-duration: 20ms;

}
.feed-wide:hover .gradient{
	height: 0;
}


#footer{
	background-color: #111;
	padding: 50px;
	font-size: 30px;

}
#footer a{
	color: #fff;
	text-decoration: none;
}
#footer a:hover{
	text-decoration: underline; 

}
#footer img{
	height: 30px;
	display: inline-block;

}
#trailer-btn{
	position: absolute;
	bottom: 150px;
	right:150px;
	border-radius: 50%;
	height: 50px ;
	width: 50px;
	border: solid #fff 3px;
	background-color: rgba(255, 255, 255, 0.5);

}
.triangle{
	height: 35px;
	width: 35px;
	-webkit-clip-path: polygon(
		20% 0%,
		100% 50%,
		20% 100%
		);
	background-color: #fff;
	left: 50%;
	right: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
#trailer-btn .text{
	font-family: fort;
	font-size: 30px;
	position: absolute;
	transform: translateY(-50%);
	right: 120%;
	width: 300px;
	text-align: right;
	color: #fff;
	top: 50%;
}
